.about-container {
  padding-top: 180px;
  display: grid;
  grid-template-columns: 0.5fr 2.5fr;
  gap: 20px;
}

.about-container .profile-pic img {
  width: 300px;
  height: 470px;
  border-radius: 15px;
}

.about-container .intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-container .intro .badge {
  background-color: #eee;
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 0.75rem;
  width: 90px;
  text-align: center;
}

.about-container .intro h1 {
  margin: 10px 0;
  font-size: 2em;
  color: var(--primary-text-color)
}

.about-container .intro h2 {
  margin: 0 0 20px;
  color: var(--secondary-text-color);
}

.about-container .intro p {
  line-height: 1.6;
  color: var(--primary-text-color)
}

.about-container .stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  grid-column: span 2;
  margin-top: 20px;
}

.about-container .stat {
  text-align: center;
  padding: 20px 20px 20px 0;
  border-bottom: 1px solid var(--primary-text-color);
  text-align: left;
}

.about-container .stat {
  font-size: 1.5rem;
}

.about-container .stat p:last-child {
  margin: 5px 0;
  color: var(--primary-text-color);
  font-weight: 600;
  font-size: 1.75rem;
}

.about-container .stat p:first-child {
  color: var(--secondary-text-color);
}



.skill-info {
  margin-top: 80px;
  background-color: var(--optional-bg-color);
  margin-bottom: 80px;
}

.skill-info .skill-info-wrapper {
  max-width: 1180px;
  margin: 0 auto;
}

.skill-info .skill-info-wrapper h3 {
  font-size: 3rem;
  font-weight: bold;
  color: var(--secondary-text-color);
  padding: 40px 0 30px 20px;
}

.skill-info .skill-info-wrapper .work-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.skill-info .skill-info-wrapper .work-info .info {
  padding: 30px 10px;
}

.skill-info .skill-info-wrapper .work-info .info .info-title {
  padding: 10px 20px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 1.875rem;
}

.skill-info .skill-info-wrapper .work-info .info .info-description {
  padding: 0 20px;
  color: var(--secondary-text-color);
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 30.8px;
}

.skills-wrapper {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.skills-wrapper .skills-heading {
  margin-bottom: 20px;
  font-size: 3rem;
  font-weight: bold;
  color: var(--primary-text-color);
}

.skills-wrapper .skills-secondary-heading {
  margin-bottom: 10px;
  font-weight: 500;
  color: var(--primary-text-color);
}

.skills-wrapper .skills {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 35px;
}

.skills-wrapper .skills .skills-badge {
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: var(--optional-bg-color);
  padding: 2px 15px;
  border-radius: 15px;
}

.skills-wrapper .skills .skills-badge svg {
  margin-right: 5px;
}

.skills-wrapper .skills .skills-badge .badge-text {
  color: var(--primary-text-color);
  font-weight: 500;
}

@media (max-width: 780px) {
  .about-container {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-container .profile-pic img {
    border-radius: 50%;
    width: 224px;
    height: 224px;
  }

  .about-container .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-container .intro .badge {
    background-color: transparent;
    color: var(--primary-text-color);
    padding: 10px 8px;
    border: 1px solid #E6E6E6;
    border-radius: 12px;
    font-size: 1rem;
    width: 98%;
    margin-bottom: 20px;
  }

  .about-container .intro h1 {
    font-size: 2.25rem;
  }

  .about-container .intro h2 {
    font-weight: normal;
    text-align: center;
  }

  .about-container .stats {
    width: 100%;
  }

  .skill-info .skill-info-wrapper h3 {
    font-size: 2rem;
    padding-bottom: 10px;
  }

  .skill-info .skill-info-wrapper .work-info {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .about-container .intro h2 {
    font-size: 2.2rem;
  }

  .about-container .stat p {
    font-size: 1rem;
  }
}