.navbar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: hsl(258, 60%, 98%);
  max-width: 110px;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  padding: 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar .logo > div {
  font-size: 1.2rem;
  font-family: 'Outfit', sans-serif;
  font-weight: bold;
}

.navbar .logo > div:nth-child(2) {
  font-weight: normal;
}


.navbar .nav {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  width: 100%; 
}

.navbar .navbar-list {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.navbar .navbar-list li {
  margin: 1.5rem 0;
}

.navbar .navbar-list li a {
  font-size: 1.5rem;
  font-weight: bold;
}


