nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: transparent;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(90px);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.9rem 0;
  z-index: 10;
  margin-bottom: 70px;
}

nav .title {
  font-family: var(--optional-font);
  font-weight: 600;
  font-size: 1.5rem;
  text-decoration: none;
}

nav .title a {
  color: var(--primary-text-color);

}

nav .title span {
  font-weight: normal;
  color: var(--secondary-text-color)
}

nav .nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--secondary-font);
  font-weight: 600;
}

nav .nav-links.open {
  display: flex;
}

nav .nav-links li { 
  list-style: none;
}

nav .nav-links li a { 
  display: block;
  text-decoration: none;
  color: var(--primary-text-color);
  padding: 0.5rem;
  margin: 0 0.5rem;
}

nav .nav-links li a:hover { 
  color: var(--hover-color);
}

nav .nav-links .nav-socials {
  display: flex;
  align-items: center;
}

nav .nav-links .nav-socials a {
  color: var(--secondary-text-color);
}

nav .nav-links .contact a {
  color: var(--button-text-color)
}

nav .nav-links .contact a:hover {
  color: var(--hover-color);
}

nav .menu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0.75rem;
  right: 2rem;
  cursor: pointer;
}

.active {
  background-color: var(--button-color);
  color: var(--button-text-color) !important; 
  border-radius: 10px;
}

@media (max-width: 780px) {
  nav {
    flex-direction: column;
    align-items: start;
    padding: 1rem 1rem;
  }

  nav .menu {
    display: flex;
  }

  nav .menu > i {
    color: var(--button-color);
    padding-right: 10px;
  }

  nav .nav-links {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 0.25rem;
    margin-top: 3rem;
  }

  nav .nav-links li {
    width: 100%;
    text-align: center;
    margin: 0.5rem;
  }

  nav .nav-links .contact {
    margin: 40px 0;
  }

}
