:root {
  --background-color: rgba(255, 255, 255, 0.8);
  --optional-bg-color: #EFEFF0;

  --primary-text-color: #222;
  --secondary-text-color: #959CAD;

  --hover-color: #5B5E76;
  --rgb-line: linear-gradient(to right, #d3b0b0, #ffccff);
  --button-color: #000;
  --button-text-color: #fff;
  --box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

  --primary-font: 'DM Sans', sans-serif;
  --secondary-font: 'Manrope', sans-serif;
  --optional-font: 'Outfit', sans-serif;

  
}

[data-theme="dark"] {
  --background-color: rgba(7, 7, 7, 0.9);
  --optional-bg-color: #2e2e2e;

  --primary-text-color: rgb(255, 255, 255);
  --secondary-text-color: #bbc0cc;

  --hover-color: #c5c3c5;
  --rgb-line: linear-gradient(to right, #61a2ec, #5882dd);
  --button-color: #fff;
  --button-text-color: #000;
  --box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
}
